<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    <style>
        body {
            background-color: #ddeee5;
        }
    </style>
</head>

<body>
    <div>
        @RenderBody()
    </div>
    <footer>
        @RenderSection("footer", required: false)
        @*@await Component.InvokeAsync("Greeter")*@

        @* this syntax is made possible with the component Tag Helper in the _ViewImports file *@
        <vc:greeter></vc:greeter>
    </footer>
</body>
</html>
