@model Food.ViewModels.HomeIndexViewModel
@{
    ViewData["Title"] = "Food App";
}
<h3>All Restaurants</h3>
@foreach (var resto in Model.Restaurants)
{
    <a asp-action="Details" ,
       asp-route-id="@resto.RestaurantId"><h4>@resto.RestaurantId @resto.Name</h4></a>
}
<br />
<a asp-action="Create">Add Restaurant</a>

@section footer {
    @Model.CurrentMessage
}
