@model IEnumerable<Food.Models.Restaurant>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title></title>
</head>
<body>
    <h3>Home Index View</h3>
    @foreach (var resto in Model)
    {
        <h4>@resto.Name</h4>
        <h5>ID is @resto.RestaurantId</h5>
    }

</body>
</html>